.flaticons-solid:before {
  font-family: "FlatIcons Solid";
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }
  
.flaticons-stroke:before {
  font-family: "FlatIcons Stroke";
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }
